
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-section courses-title" id="courses-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
                <h2 class="section-title">Competition</h2>
            </div>
        </div>
    </div>
</div>
<div class="site-section courses-entry-wrap" data-aos="fade-up" data-aos-delay="100">
    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.data)
            {
                <div class="course bg-white h-100 align-self-stretch col-md-4 p-0">
                    <figure class="m-0">
                        <a href="course-single.html"><img src="~/admin/@item.Image" alt="Image" class="img-fluid"></a>
                    </figure>
                    <div class="course-inner-text py-4 px-4">
                        <span class="course-price">$@item.Prize</span>
                        <div class="meta"><span class="icon-clock-o"></span>End date: @item.EndDate</div>
                        <h3><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h3>
                        <p>@item.Description</p>
                    </div>
                    <div class="d-flex border-top stats">
                        <div class="py-3 px-4"><span class="icon-users"></span> 2,193 students</div>
                        <div class="py-3 px-4 w-25 ml-auto border-left"><span class="icon-chat"></span> 2</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>